<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
  <appSettings>
    <add key="DatabaseDefault" value="Forjuris.SISAP.Database"/>
    <add key="SchemaDefault" value="dbo"/>
    <add key="CryptoKey" value="inQCBa9RCKscXPZtSDOGI/AYEOPYoPEDLwCAoaf4wfk="/>
    <add key="ConnectionStringName" value="connStringClickdin"/>
    <add key="Paginate.LinhasPorPagina" value="10"/>
    <add key="Paginate.BotoesPorTela" value="5"/>
    <add key="DisableDateFieldPersistence" value="true"/>
    <add key="RSAKeys" value="m+xNDXobyHncnwlquArg3w9LEK0TZQhZrDQYy0DD2pREMFGgifSIoE8FcP3tB1g3MK2EPxScXl6BU3LJZ9D0eHn/MvV1UQmZwKow4kE57+fxGvWt9t2hRLlmBbySi+r1NoLNfPmGaDb0W+mqvcJ4o/fEefUvOYpVYV+6xvYCKvEB6Aq+YKtPzn9FIaTNS7rHQNPBos3/MFQgCD/eV5juCkU54HHU3A2r7S16wFv9aio/tRe6im2MopbWLKzHgymj2oLG0qNUU9fssm0NkupX57nWSDOozQpEoCNF7zUNEQAs7OsnhWTGoTPrw5ptR9WHK6f8sYf6JCkxXo7aglBl1YvN+HsBig3jYWLj7f8A94XirCj6R2IoiMJrht7ZmUtRlI1NLWwtlGYucZyOAOWVFsz6TaCKNvS9kfsmQjfECXVx3aqC4QxNic+RWnnUi0NdjOmSjTMMdGx7e+PXsj3BDWLc0rZAs/HqjIn9xlcyvfC/d6OpBLWRx8nlaoL8Hi6sTwhJ7Opon+GsDK5lhxqHLmyAtGbVcAoeNgHLGzHF4oEI0bcyfdPKLEHMJXf7elbc58BeyXpbUibmCQFTu9s/z0gIFC1e1SAdbUid8NyoSiYTelgyCiJAPNW05VtDF8YtyJzp+YBGvW31hfngwxkhlbD9U46dL7YZewvENgWKdMc="/>
  </appSettings>
  <connectionStrings>
    <add name="connStringClickdin" connectionString="Server=.;Database=Forjuris.SISAP.Database;User ID=sa;Password=qazxsw21;Trusted_Connection=False;Encrypt=False;Connection Timeout=30;pooling=true;App=WMIT.Framework.Test"/>
  </connectionStrings>
</configuration>
